name: 'Terraform'

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    # Terraform Backend Setup if not existig already
    - name: Create Terraform Backend Resources
      run: |
        echo "Creating RG if not exists..."
        az group create --name tfstate-rg --location westeurope

        echo "Creating Storage Account if not exists..."
        az storage account create \
          --name mfreiretfstatestorage\
          --resource-group tfstate-rg \
          --location westeurope \
          --sku Standard_LRS || true

        echo "Retrieving Storage Account Key..."
        ACCOUNT_KEY=$(az storage account keys list \
          --resource-group tfstate-rg \
          --account-name mfreiretfstatestorage \
          --query "[0].value" -o tsv)

        echo "Creating container if not exists..."
        az storage container create \
          --name tfstate \
          --account-name mfreiretfstatestorage \
          --account-key "$ACCOUNT_KEY" || true

        echo "Done creating backend."

    - name: Terraform Init
      working-directory: terraform
      run: |
        terraform init \
          -backend-config="resource_group_name=tfstate-rg" \
          -backend-config="storage_account_name=mfreiretfstatestorage" \
          -backend-config="container_name=tfstate" \
          -backend-config="key=infra.tfstate"

    - name: Terraform Plan
      working-directory: terraform
      run: terraform plan -input=false

    - name: Terraform Apply
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      working-directory: terraform
      run: terraform apply -auto-approve -input=false
